---
interface Props {
    icon: SVGAElement;
    name: string;
}

const { icon, name } = Astro.props;

console.log(icon);

---

<div class="w-32 h-32 flex flex-col border-[2px] rounded-lg border-solid border-[#bce7ff]">
    {icon}
</div>
